<h1> Portfolio </h1>

<% @portfolios.each do |portfolio| %>
  <%= render 'portfolio', portfolio: portfolio %>

  <p><%= link_to "Show this  Portfolio", portfolio %></p>
<% end %>

<%= link_to "New Portfollio", new_portfollio_path %>